<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Weather Now
body
  ui-header
    ui-logotype Weather Now

  section
    ui-weather-card(city='Nuuk' state='GL' temperature='-4')
    ui-weather-card(city='Urubici' state='BR' temperature='19' humidity='.75' pressure='892')
    ui-weather-card(city='Nairobi' state='KE' temperature='31')
  