<!DOCTYPE html>
html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  title Weather Now
  link(rel='stylesheet' href='index.css')
body.hidden
  ui-header
    ui-logotype Weather Now

  .container
    ui-weather-card(city='Urubici' state='BR' humidity pressure)
    ui-weather-card(city='Nuuk' state='GL')
    ui-weather-card(city='Nairobi' state='KE')
  